<h1>Forecastr</h1>
<p>Enter your address below to see a weather forecast for your area</p>

<%= form_for :forecasts, local: true do |form| %>
<p>
  <%= form.label :street %><br>
  <%= form.text_field :street %>
</p>

<p>
  <%= form.label :city %><br>
  <%= form.text_field  :city %>
</p>

<p>
  <%= form.label :state %><br>
  <%= form.text_field  :state %>
</p>

<p>
  <%= form.label :zip %><br>
  <%= form.text_field  :zip %>
</p>

<p>
  <%= form.submit :get_weather%>
</p>
<% end %>
