<h1>Forecastr</h1>
<p>Enter your address below to see a weather forecast for your area</p>

<%= form_with scope: :forecasts, local: true do |form| %>
<p>
  <%= form.label :street %><br>
  <%= form.text_field :text %>
</p>

<p>
  <%= form.label :city %><br>
  <%= form.text_area :text %>
</p>

<p>
  <%= form.label :state %><br>
  <%= form.text_area :text %>
</p>

<p>
  <%= form.label :zip %><br>
  <%= form.text_area :text %>
</p>

<p>
  <%= form.submit :get_weather%>
</p>
<% end %>